# Base de donnée par MAMP (internet)

Ouvrir MAMP puis MySQL et créé une base de donnée
[BDD](page_MySQL.png)

écrire le nom de votre BDD dans la zone de texte Database name puis appuyer sur Create

### création de d'une table

[creationtable](creation_tableau.png)

écrire le nom de la table dans Name, choisir le nombre de colonne puis appuyer sur Go

### Création des différentes entités

[entités](creation_entite.png)

1. Mettre le nom de l'entité dans Name

2. Choisir le type de l'entité:
   - INT: chiffre
   - VARCHAR: chaine de caractère
   - Date: année, mois, jour (ex: 2022-01-24; 24 janvier 2022)
   - Year: année (ex: 2022)
   - TIMESTAMP: date et heure auto incrémenté
   - TEXT: zone de texte
    

3. Coché A_I permet de passer l'entité en clé primaire

### Creation d'un deuxième tableau

[table 2](table2.png)

appuyer sur new sur le coté puis choisisser son nom et refaite comme le tableau précédent

### Création d'une clé étrangère

On peut créer une clé étrangère pour lié deux tableau

[clé étrangère](creation_cle_etrangere.png)

On va d'abord là où nous avons la clé étrangère. Ici nous allons lié l'entité étranger à la table 2.
Pour cela il faut aller dans Relation view

[cle](cle_etrangere.png)

Il faut choisir la bonne colonne, la database, la table lié et la colonne de celle-ci puis appuyer sur Save

Maintenant on peut voire comment sont les tables en allant sur la database puis sur Designer
![designer](designer.png)

# Base de donnée par l'invite de commande

### Connection à MySQL

Ouvrir l'invite de commande et ouvrir MAMP.

aller dans le bon environnement:
`C:\MAMP\bin\mysql\bin>`

pour cela il vous faudra faire un:

`C:\>cd MAMP
C:\>cd bin
C:\>cd mysql
C:\>cd bin`

Se connecter à  MySQL avec:
`mysql –P 8081 –h localhost -u root –p`

Il vous sera demander un mot de passe souvent c'est `root`

### Création de la base de donnée

Le code est:

`CREATE DATABASE nom_dela_base CHARACTER SET ‘utf8’;`

On peut utiliser un mot de passe avec:
    
`GRANT ALL PRIVILEGES ON nom_base.* TO ‘admin’@’localhost’ IDENTIFIED BY ‘mdp’ WITH GRANT OPTION;`

### Création de table

créer une table:

`CREATE TABLE IF NOT EXISTS table1(
colonne1 INT AUTO_INCREMENT,
colonne2 VARCHAR(40) DEFAULT ‘default’,
colonne3 CHAR(1),
colonne4 DATETIME NOT NULL,
PRIMARY KEY(colonne1)
)ENGINE=INNODB;`

crée une autre table:
    
`CREATE TABLE table2(
colonne1 INT AUTO_INCREMENT,
colonne2 VARCHAR(30),
colonne3 VARCHAR(20),
colonne4 YEAR,
-> PRIMARY KEY(user_id));`

Pour modifier la table:

`ALTER TABLE table2 ADD COLUMN colonne5 INT;` ajoute la colonne 5

`ALTER TABLE table2 DROP COLUMN colonne3 ;` supprime la colonne 3

`ALTER TABLE table2 CHANGE colonne2 colonne2.0 VARCHAR(10);` change le nom de colonne 2 en colonne 2.0

`ALTER TABLE table2 MODIFY colonne_1 INT UNSIGNED NOT NULL;` change le type de la colonne 1 en INT unsigned non null

`ALTER TABLE table2 DROP PRIMARY KEY;` supprime la clé primaire

`ALTER TABLE table2 ADD PRIMARY KEY(colonne5);` ajoute une clé primaire à la colonne 5

On peut aussi supprimer un table:

`DROP TABLE table2;` supprime la table 2

Et pour les voire une fois fini:

`SHOW TABLES;` permet de voire toute les tables créées

`DESCRIBE table2;` permet de voire la table 2

### Création de la clé étrangère

`ALTER TABLE table2 ADD CONSTRAINT contrainte1 FOREIGN KEY (colonne5) REFERENCES table1(colonne1);`

On met une clé étrangère sur la table 2 sur la colonne 5 qui est lié à la colonne 1 de la table 1. on lui donne le nom de contrainte1

on peut aussi supprimer la clé étrangère:
    
`ALTER TABLE table2 DROP FOREIGN KEY contrainte1;`

On supprime la clé étrangère du nom de contrainte1 sur la table 2